.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .loadingContainer {
    width: 35vw;
  }
}
.container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 200px;
  }
}

.header {
  background-color: #0f755a;
  color: white;
  display: flex;
  padding: 1rem 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.tagline {
  word-wrap: break-word;
  width: 240px;
}

.light {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: gray;
}

.sections {
  display: flex;
  flex-direction: column;
}

.sections section {
  margin: 1rem;
}

.sections h2,
.sections h3,
.sections h4 {
  margin: 0.5rem 0;
}

.sections h2 {
  background: #0f755a;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
}

.skills div {
  margin-bottom: 0.5rem;
}

.skills span {
  font-size: 0.9rem;
}

.position span {
  font-size: 0.9rem;
  color: gray;
}
